.font-dancing-script {
    font-family: 'Dancing Script', cursive;
  }
  
  .font-quicksand {
    font-family: 'Quicksand', sans-serif;
  }
  
  .header-name {
    transition: all 0.3s ease-in-out; /* add transition effect for smooth animation */
  }
  
  .header-name:hover {
    color: #ff2d55; /* change text color to bright pink */
    transform: scale(1.2); /* increase font size by 20% */
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
  }
  
  h1 {
    font-size: 2rem;
    margin: 0;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-left: 2rem;
  }
  
  nav a {
    color: #333333;
    text-decoration: none;
    font-size: 1.2rem;
  }
  